Hello!  I am your randomizer.  My job is to ensure that everyone in the Mined Minds class has the opportunity to work together to eliminate the "Jeremys".  How many people are in class today?

<form method = "post" action = "names">
	<input type = "text" name = "user_name1">
	<input type = "submit">
</form>
