Hello!  I am your randomizer.  My job is to ensure that everyone in the Mined Minds class has the opportunity to work together.  Please enter the names of people in class below.  One name per box, please.

<form method = "post" action = "names">
	<input type = "text" name = "array[]">
	<input type = "text" name = "array[]">
	<br>
	<input type = "text" name = "array[]">
	<input type = "text" name = "array[]">
	<br>
	<input type = "text" name = "array[]">
	<input type = "text" name = "array[]">
	<br>
	<input type = "text" name = "array[]">
	<input type = "text" name = "array[]">
	<br>
	<input type = "text" name = "array[]">
	<input type = "text" name = "array[]">
	<br>
	<input type = "text" name = "array[]">
	<input type = "text" name = "array[]">
	<br>
	<input type = "submit">
</form>

