Excellent! The are many people are in class today! Please input their names in the boxes below.

<form>
  Name:<br>
  <input type="text" name="firstname"><br>
  Name:<br>
  <input type="text" name="lastname">
  Name:<br>
  <input type="text" name="firstname"><br>
  Name:<br>
  <input type="text" name="lastname">
  Name:<br>
  <input type="text" name="firstname"><br>
  Name:<br>
  <input type="text" name="lastname">
  Name:<br>
  <input type="text" name="firstname"><br>
  Name:<br>
  <input type="text" name="lastname">
  Name:<br>
  <input type="text" name="firstname"><br>
  Name:<br>
  <input type="text" name="lastname">
  Name:<br>
  <input type="text" name="firstname"><br>
  Name:<br>
  <input type="text" name="lastname">
  Name:<br>
  <input type="text" name="firstname"><br>
  Name:<br>
  <input type="text" name="lastname">
  Name:<br>
  <input type="text" name="firstname"><br>
  Name:<br>
  <input type="text" name="lastname">
  Name:<br>
  <input type="text" name="firstname"><br>
  Name:<br>
  <input type="text" name="lastname">
  Name:<br>
  <input type="text" name="firstname"><br>
  Name:<br>
  <input type="text" name="lastname">
  <input value = <%= number_of_people %> hidden>
</form>