Excellent! <%= number_of_people %> people are in class today! Pleae input their names in the boxes below.

<form>
  Name:<br>
  <input type="text" name="firstname"><br>
  Name:<br>
  <input type="text" name="lastname">
  Name:<br>
  <input type="text" name="firstname"><br>
  Name:<br>
  <input type="text" name="lastname">
  Name:<br>
  <input type="text" name="firstname"><br>
  Name:<br>
  <input type="text" name="lastname">
  Name:<br>
  <input type="text" name="firstname"><br>
  Name:<br>
  <input type="text" name="lastname">
  Name:<br>
  <input type="text" name="firstname"><br>
  Name:<br>
  <input type="text" name="lastname">
  Name:<br>
  <input type="text" name="firstname"><br>
  Name:<br>
  <input type="text" name="lastname">
  Name:<br>
  <input type="text" name="firstname"><br>
  Name:<br>
  <input type="text" name="lastname">
  Name:<br>
  <input type="text" name="firstname"><br>
  Name:<br>
  <input type="text" name="lastname">
  Name:<br>
  <input type="text" name="firstname"><br>
  Name:<br>
  <input type="text" name="lastname">
  Name:<br>
  <input type="text" name="firstname"><br>
  Name:<br>
  <input type="text" name="lastname">
</form>